[defaults]
# Inform Ansible to use this specific file as the inventory.
inventory = inventory/hosts

# Inform Ansible to output some information about the playbook execution.
callbacks_enabled = timer, profile_roles

# Inform Ansible to use this version as default.
interpreter_python = /usr/bin/python3

# Number of parallel processes to use when executing tasks.
forks = 5

# Disable Ansible retry files to avoid cluttering the repository.
retry_files_enabled = false

# Use smart fact gathering to minimize SSH connections.
gathering = smart

[ssh_connection]
# Reduce the number of SSH connections.
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

# Set explicit SSH connection timeout in seconds.
timeout = 30

# Enable pipelining to reduce SSH operations and improve performance.
pipelining = true
